/* styles.css is for the colour coding of various objects in the website */
body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* fonts */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

/* Add spacing and indentation for readability */
main {
  padding: 20px; /* padding for separation */
}

section {
  margin-bottom: 20px; /* margin for separation between sections */
}

h2 {
  margin-left: 20px; /* indent h2 headers */
}

ul {
  list-style-type: circle; /* circle bullets for unordered lists */
  margin-left: 20px; /* indent unordered lists */
}

li {
  margin-bottom: 5px; /* separation between list items */
}

/* Header styles */
header {
  background-color: #0074d9;
  color: #fff;
  padding: 20px;
}

/* Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

/* Active tab styles */
.tablink.active {
  background-color: #ccc;
}

/* About section styles */
.about {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
}

/* Main container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Sensor section styles */
.sensor-section {
  background-color: #f7f7f7;
  text-align: center;
  padding: 50px 0;
}

.sensor {
  display: none;
  background-color: #4bf45c;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Link styles */
a {
  color: #0074d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Button styles */
button {
  color: #000000;
  background-color: #ffffff;
  font-size: 18px;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px 10px;
  cursor: pointer
}
button:hover {
  color: #2d63c8;
  background-color: #ffffff;
}
